In [174]:
# import packages that needed for working with the data
import geopandas as gpd
import pandas as pd
import numpy as np

# DATA PREPARATION

In [175]:
# read and load covid_19_indonesia_time_series_all dataframe
df = pd.read_csv('/content/drive/MyDrive/Dataset/covid_19_indonesia_time_series_all.csv')
df.head()

        Date Location ISO Code    Location  New Cases  ...  Name  Item  Kind  Hidden
0   1/8/2020             ID-JI  Jawa Timur          9  ...   NaN   NaN   NaN     NaN
1   1/9/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
2  1/10/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
3  1/11/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN
4  1/12/2020             ID-JI  Jawa Timur          0  ...   NaN   NaN   NaN     NaN

[5 rows x 41 columns]

In [176]:
# selecting the columns to integrate with geojson data
# New Active Cases = New Cases - (New Recovered + New Deaths)
df = df.groupby(['Location','Longitude', 'Latitude'])[['New Cases','New Recovered', 'New Deaths','New Active Cases']].sum().reset_index()
df = df.loc[df['Location'] != 'Indonesia']
df = df.reset_index(drop=True)
df.head()

          Location   Longitude  ...  New Deaths  New Active Cases
0             Aceh   96.910522  ...         862              3744
1             Bali  115.131714  ...        1618              6281
2  Bangka-Belitung  106.549932  ...         365              2091
3           Banten  106.109004  ...        1452              9845
4         Bengkulu  102.338421  ...         194              1947

[5 rows x 7 columns]

In [177]:
# read and load geojson data
geojson = gpd.read_file('/content/drive/MyDrive/Dataset/indonesia-edit.geojson')
geojson.head()

   cartodb_id  ...                                           geometry
0          16  ...  MULTIPOLYGON (((97.97681 4.62750, 97.99611 4.6...
1           2  ...  MULTIPOLYGON (((99.17167 -1.50250, 99.11528 -1...
2           8  ...  MULTIPOLYGON (((110.70204 -8.18505, 110.83630 ...
3          20  ...  MULTIPOLYGON (((98.71384 3.76947, 98.72339 3.7...
4           7  ...  MULTIPOLYGON (((105.34754 -1.84469, 105.12500 ...

[5 rows x 8 columns]

In [178]:
# create the function to extract New Cases, New Recovered,	New Deaths,	New Active Cases, Longitude, Latitude
# from covid_19_indonesia_time_series_all dataframe to geojson data

def get_total_cases(col):
    s = df['Location']
    if col in list(s):
        i = list(s).index(col)
        return df.loc[i, 'New Cases']
    else:
        return 0
    
def get_total_recovered(col):
    s = df['Location']
    if col in list(s):
        i = list(s).index(col)
        return df.loc[i, 'New Recovered']
    else:
        return 0
    
def get_total_deaths(col):
    s = df['Location']
    if col in list(s):
        i = list(s).index(col)
        return df.loc[i, 'New Deaths']
    else:
        return 0

def get_total_active_cases(col):
    s = df['Location']
    if col in list(s):
        i = list(s).index(col)
        return df.loc[i, 'New Active Cases']
    else:
        return 0
    
def get_latitude(col):
    s = df['Location']
    if col in list(s):
        i = list(s).index(col)
        return df.loc[i, 'Latitude']
    else:
        return 0.8035

def get_longitude(col):
    s = df['Location']
    if col in list(s):
        i = list(s).index(col)
        return df.loc[i, 'Longitude']
    else:
        return 122.0568

In [179]:
# create new columns to geojson data through the function that we've created before

geojson['New Cases'] = geojson['state'].apply(get_total_cases)
geojson['New Recovered'] = geojson['state'].apply(get_total_recovered)
geojson['New Deaths'] = geojson['state'].apply(get_total_deaths)
geojson['New Active Cases'] = geojson['state'].apply(get_total_active_cases)
geojson['Latitude'] = geojson['state'].apply(get_latitude)
geojson['Longitude'] = geojson['state'].apply(get_longitude)
geojson = geojson.rename(columns={'state':'Province'})
geojson.head()

   cartodb_id    country  id_1  ... New Active Cases  Latitude   Longitude
0          16  Indonesia     1  ...             3744  4.225615   96.910522
1           2  Indonesia    31  ...             5600 -0.850253  100.465062
2           8  Indonesia    34  ...            16448 -7.894502  110.444878
3          20  Indonesia    33  ...             3036  2.191894   99.051964
4           7  Indonesia     3  ...             2091 -2.447444  106.549932

[5 rows x 14 columns]

# GENERATE CHOROPLETH MAP

In [180]:
# import package for generating map
!conda install -c conda-forge folium=0.5.0 --yes
import folium

print('Folium installed and imported!')

/bin/bash: conda: command not found
Folium installed and imported!

In [181]:
# initialize a map using folium centered with Indonesia and save it into indo_map object
indo_map = folium.Map(location=[0.7893, 113.9213], zoom_start=5, tiles='Mapbox Bright')

In [ ]:
# generate choropleth map using the new active cases of each province from January 2020 to July 2021
threshold_scale = np.linspace(geojson['New Active Cases'].min(),
                              geojson['New Active Cases'].max(),
                              8, dtype=int)
threshold_scale = threshold_scale.tolist()
threshold_scale[-1] = threshold_scale[-1] + 1

add_choropleth = folium.Choropleth(
    geo_data=geojson,
    data=geojson,
    columns=['Province', 'New Active Cases'],
    key_on='feature.properties.Province',
    threshold_scale=threshold_scale,
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='New Active Cases'
).add_to(indo_map)

#add the name of province on the map 
for i in range(0, len(geojson['Province'])):    
    temp = geojson.iloc[i]['Province']
    s = "Info"
    folium.Marker([geojson.iloc[i]['Latitude'], geojson.iloc[i]['Longitude']], icon = folium.DivIcon(html = f"""<div style = "font-family: fantasy
                    ; color: black; font-size: smaller; font-weight: boldest"> 
                    {"{}".format(temp) }</div>  """)).add_to(indo_map)

# add extra information about the number of new cases, new recovered, new deaths
add_choropleth.geojson.add_child(folium.features.GeoJsonTooltip(['Province','New Cases', 'New Recovered', 'New Deaths', 'New Active Cases']))

# display map
indo_map

In [183]:
# save to html
indo_map.save('/content/map.html')